<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devmovil.appTurismo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoparcial"
        android:label=""
        android:roundIcon="@drawable/logoparcial"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".card_layout"
            android:exported="false" />
        <activity
            android:name=".ActividadSantuarioLajas"
            android:exported="false" />
        <activity
            android:name=".volcangaleras"
            android:exported="false" />
        <activity
            android:name=".Tumaco"
            android:exported="false" />
        <activity
            android:name=".LagunadelaCocha"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>